<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Admin Dashboard</title>

<style>
body {
    font-family: Arial;
    background: #f4f6f9;
    padding: 20px;
}
h2{
    text-align: center;
}
.container {
    max-width: 1000px;
    margin: auto;
}
.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
table {
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}
th {
    background: #dc3545;
    color: white;
}
</style>
</head>

<body>

<div class="container">
    <div class="card">
        <h2>Admin Dashboard</h2>

        <table>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Total URLs</th>
                <th>Details</th>
            </tr>

            <!-- Dummy Data -->
            <tr>
                <td>Vaibhav</td>
                <td>vaibhav@gmail.com</td>
                <td>2</td>
                <td>
                    google.com → abc123 <br>
                    youtube.com → xyz789
                </td>
            </tr>

            <tr>
                <td>Rahul</td>
                <td>rahul@gmail.com</td>
                <td>1</td>
                <td>
                    facebook.com → pqr456
                </td>
            </tr>

        </table>
    </div>
</div>

</body>
</html>