<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortner</title>
</head>
<body>
    <form method="post">
        URL : <input type="text" placeholder="Enter url here..." id="originalURL"><br>
        Short URL : <span id="short-url"></span><br>
        <button type="button" onclick="getShortURL()">Get short URL</button>
    </form>
    <script>
        function getShortURL()
        {
            const url = document.getElementById("originalURL").value;
            console.log("url :",url);
            fetch("/url/shortner",{
                method:"POST",
                headers:{
                    'content-type':'application/json'
                },
                body:JSON.stringify({
                    url:url
                })
            })
            .then(res=>res.json())
            .then(data=>{
                console.log("data:",data);
                if(!data.error)
            {
                alert("Short url created sccessfully");
                const container = document.getElementById("short-url");
                container.innerHTML = `<a href="http://localhost:3400/url/goto/${data.short}">http://localhost:3400/goto/${data.short}</a>`;
            }
            })
            .catch(err=>{
                alert("Error in shortning :"+err);
            })
        }
    </script>
</body>
</html>